# Python's slice notation

a[start:end] # items start through end-1
a[start:]    # items start through the rest of the array
a[:end]      # items from the beginning through end-1
a[:]         # a copy of the whole array
a[start:end:step] # start through not past end, by step

The key point to remember is that the :end value represents the first value that is not in the selected slice. So, the difference beween end and start is the number of elements selected (if step is 1, the default).

In [2]:
a = [1,2,3,4,5,6,7,8,9,10]

In [6]:
len(a)

10

In [3]:
a[0]     # First item in the array

1

In [4]:
a[-1]    # last item in the array

10

In [7]:
a[1:9]   # last two items in the array

[2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
a[:-2]   # everything except the last two items

[1, 2, 3, 4, 5, 6, 7, 8]

In [13]:
a[::2]

[1, 3, 5, 7, 9]

# Parse csv file

In [15]:
for line in open('salaries_p.csv'):
    print('-------------------------------------------------------------------------------')
    print('1. This is a raw line:')
    print(repr(line))
    
    print('-------------------------------------------------------------------------------')
    print('2. This is a list')
    row = line.split(',')
    print(repr(row))
    
    print('-------------------------------------------------------------------------------')
    print("3. This is a Salary")
    print(repr(row[7]))

-------------------------------------------------------------------------------
1. This is a raw line:
'Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate\n'
-------------------------------------------------------------------------------
2. This is a list
['Name', 'Job Titles', 'Department', 'Full or Part-Time', 'Salary or Hourly', 'Typical Hours', 'Annual Salary', 'Hourly Rate\n']
-------------------------------------------------------------------------------
3. This is a Salary
'Hourly Rate\n'
-------------------------------------------------------------------------------
1. This is a raw line:
'"AARON,  JEFFERY M",SERGEANT,POLICE,F,Salary,,$101442.00,\n'
-------------------------------------------------------------------------------
2. This is a list
['"AARON', '  JEFFERY M"', 'SERGEANT', 'POLICE', 'F', 'Salary', '', '$101442.00', '\n']
-------------------------------------------------------------------------------
3. This is a Salary
'$101442.00'
-------------------------------------------------------------------------------
1. This is a raw line:
'"AARON,  KARINA ",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,,$94122.00,\n'
-------------------------------------------------------------------------------
2. This is a list
['"AARON', '  KARINA "', 'POLICE OFFICER (ASSIGNED AS DETECTIVE)', 'POLICE', 'F', 'Salary', '', '$94122.00', '\n']
-------------------------------------------------------------------------------
3. This is a Salary
'$94122.00'
-------------------------------------------------------------------------------
1. This is a raw line:
'"AARON,  KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,,$101592.00,\n'
-------------------------------------------------------------------------------
2. This is a list
['"AARON', '  KIMBERLEI R"', 'CHIEF CONTRACT EXPEDITER', 'GENERAL SERVICES', 'F', 'Salary', '', '$101592.00', '\n']
-------------------------------------------------------------------------------
3. This is a Salary
'$101592.00'
-------------------------------------------------------------------------------
1. This is a raw line:
'"ABAD JR,  VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,,$110064.00,\n'
-------------------------------------------------------------------------------
2. This is a list
['"ABAD JR', '  VICENTE M"', 'CIVIL ENGINEER IV', 'WATER MGMNT', 'F', 'Salary', '', '$110064.00', '\n']
-------------------------------------------------------------------------------
3. This is a Salary
'$110064.00'
-------------------------------------------------------------------------------
1. This is a raw line:
'"ABASCAL,  REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20,,$19.86'
-------------------------------------------------------------------------------
2. This is a list
['"ABASCAL', '  REECE E"', 'TRAFFIC CONTROL AIDE-HOURLY', 'OEMC', 'P', 'Hourly', '20', '', '$19.86']
-------------------------------------------------------------------------------
3. This is a Salary
''

### Which columns need to be cleaned?

['"ABASCAL', '  REECE E"', 'TRAFFIC CONTROL AIDE-HOURLY', 'OEMC', 'P', 'Hourly', '20', '', '$19.86']
['"ABAD JR', '  VICENTE M"', 'CIVIL ENGINEER IV', 'WATER MGMNT', 'F', 'Salary', '', '$110064.00', '\n']

# Count over interation

Goal: Given a list, what is the number of occurance for each letter: a,b,c,d?

In [4]:
l = ['a','b','c','d','c','d','b','d','c','c']

In [5]:
def count(letter,l):
    '''
    Count the number of total occurance for each letter in l
    '''
    count = 0
    for i in l:
        if i == letter:
            count += 1
    return count

In [6]:
count('a',l)

1

In [7]:
count('b',l)

2

In [8]:
count('c',l)

4

In [9]:
count('d',l)

3

We need to call the function 4 times, which is not very efficient. If there are 100 unique letter in the list, we need to call the function 100 times.

In [10]:
# Get a unique set of letter in list
s = set(l)
s

{'a', 'b', 'c', 'd'}

In [11]:
def better_count(s,l):
    d = {}
    for letter in s:
        d[letter]=count(letter,l)
    return d

In [12]:
better_count(s,l)

{'a': 1, 'b': 2, 'c': 4, 'd': 3}

# How to call your helper function from other file

In [13]:
import helper # the file name of your helper function w/o file suffix

In [16]:
helper.count('a',l)

1

In [17]:
helper.better_count(s,l)

{'a': 1, 'b': 2, 'c': 4, 'd': 3}

If you are using jupyter notebook, you need to restart the Kernel whenever you make change to your helper.py